[project]
name = "resume"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "python-docx==1.1.0",
    "docx2pdf>=0.1.8",
    "docx>=0.2.4",
]
